<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <style>table,

    td {
        border: 1px solid #333;
        margin-top:200px;
        margin-left: auto;
        margin-right: auto;
        font-size:25px;
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
    </style>
</head>
<body>

<form action="findStudent" method="get" style="text-align:center; margin-top:100px">
    <label><input type="text" name = "studentName" style="height:20px; width:300px;"
                  placeholder="Student name" /></label>
    <br><br>
    <input type="submit" value="Find student">
</form>

<table class="table table-bordered ">
    <thead class="table-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Group Name</th>
        <th scope="col">Date of start</th>
        <th scope="col">Date of finish</th>
        <th scope="col">Students</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="group : ${groups}">
        <td th:text="${group.id}"></td>
        <td th:text="${group.groupName}"></td>
        <td th:text="${group.dateOfStart}"></td>
        <td th:text="${group.dateOfFinish}"></td>
        <td><a th:href="@{/getStudents(groupId=${group.id})}">
            <button style = "height: 40px; width: 90px; background-color:paleturquoise;">Students</button></a>
        </td>
        <td>

            <a th:href="@{/updateGroup(groupId=${group.id},companyId=${param.companyId})}">
                <button style = "height: 40px; width: 80px; background-color:lawngreen;">update</button>
            </a>
        </td>
        <td><a th:href="@{/deleteGroup(groupId=${group.id},companyId=${param.companyId})}"
               onclick="return confirm('Are you sure you want to delete this group?');">
            <button style = "height: 40px; width: 80px; background-color:red;">delete</button>
        </a></td>
    </tr>
    </tbody>
</table>
<br><br>
<div style = "text-align:center; "><a th:href="@{/addGroup(companyId=${param.companyId})}"><button style = "font-size:30px;">Add group</button></a></div>
<br>
<div style = "text-align:center;"><a th:href="@{/getAllCompanies}"><button style = "font-size:20px;">Back to companies</button></a></div>
<br>

</body>
</html>