<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Number of students</title>
    <style>table,

    td {
        border: 1px solid #333;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size:25px;
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
    </style>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }
    </style>
</head>
<body>
 <h1 th:text = "${size}"></h1>
<table class="table table-bordered ">
    <thead class="table-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Student name</th>
        <th scope="col">Student surname</th>
        <th scope="col">Student email</th>
        <th scope="col">Study format</th>
        <th scope="col">Group of study</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.studyFormat}"></td>
        <td th:text="${student.group}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>