<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <style>table,

    td {
        border: 1px solid #333;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size:25px;
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
    </style>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }
    </style>
</head>
<body>
<table class="table table-bordered ">
    <thead class="table-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Course name</th>
        <th scope="col">Duration</th>
        <th scope="col">Teachers</th>
        <th scope ="col">Groups</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="course : ${courses}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.courseName}"></td>
        <td th:text="${course.durationInMonth}"></td>
        <td><a th:href="@{/getTeachers(courseId=${course.id})}">
            <button style = "height: 40px; width: 100px; background-color:thistle;">Teachers</button></a></td>
        <td>
            <a th:href="@{/getGroupsSelectedThisCourse(courseId=${course.id},companyId=${param.companyId})}">
                <button style = "height: 40px; width: 80px; background-color:mediumpurple;">Groups</button>
            </a>
        </td>
        <td>
            <a th:href="@{/updateCourse(courseId=${course.id},companyId=${param.companyId})}">
                <button style = "height: 40px; width: 80px; background-color:lawngreen;">update</button>
            </a>
        </td>
        <td><a th:href="@{/deleteCourse(courseId=${course.id},companyId=${param.companyId})}"
               onclick="return confirm('Are you sure you want to delete this course?');">
            <button style = "height: 40px; width: 80px; background-color:red;">delete</button>
        </a></td>
    </tr>
    </tbody>
</table>
<br>
<div style = "text-align:center; "><a th:href="@{/addCourse(companyId=${param.companyId})}"><button style = "font-size:30px;">Add course</button></a></div>
<br>
<div style = "text-align:center; "><a th:href="@{/getAllCompanies}"><button style = "font-size:20px;">Back to companies</button></a></div>
</body>
</html>